/* You can add global styles to this file, and also import other style files */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

/* Variables Style */
:root {
  --body-font: "Kanits", sans-serif;
  --main-bg-color: #0d111a;
  --text-color: #fff;
  --highlight-color: #ffa500;
  --card-color: linear-gradient(180deg, #0b0f17, #0d111a);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--body-font);
  color: var(--text-color);
  background-color: var(--main-bg-color);
}
a {
  text-decoration: none;
}
button {
  all: unset;
}
li {
  list-style: none;
}
