<header>
  <div class="container-fluid px-0">
    <div class="nav-wrapper">
      <div class="logo-section">
        <img src="https://cdn-icons-png.freepik.com/512/9357/9357566.png" class="logo-icon" alt="Logo">
        Cine<span class="logo-name">Vault</span>
      </div>
      <div class="desktop-menu" [class.mobile-open]="menuValue">
        <ul>
          <li class="mobile-profile">

            @if (authService.isLoggedIn()) {

            <div class="mobile-profile-box">
              <div class="user-name">
                {{userName}}
              </div>

              <button class="logout-btn" (click)="logout()">
                Logout
              </button>
            </div>

            } @else {

            <div class="mobile-profile-box">
              <a routerLink="/regislog" class="login-btn">
                Login
              </a>
            </div>

            }

          </li>
          <li><a routerLink="/">Home</a></li>
          <li><a routerLink="/movies">Movies</a></li>
          <li><a routerLink="/theaters">Theaters</a></li>
          <li><a routerLink="/mybooking">My Bookings</a></li>
        </ul>
      </div>

      <div class="profile-section">
        @if (authService.isLoggedIn()) {

        <div class="account-box">
          @if (authService.isLoggedIn() && authService.getRoleId() === 1) {
          <span routerLink="/admin" class="admin-link">
            <i class="bx bx-grid-circle-diagonal-right"></i>
          </span>
          }

          <span class="profile-name" (click)="toggleLogout()">
            {{userName}}
          </span>

          @if(showLogout){
          <div class="logout-dropdown">
            <button (click)="logout()">Logout</button>
          </div>
          }

        </div>

        } @else {

        <a class="login-btn" routerLink="/regislog">Login</a>

        }

      </div>

      <div class="menu" (click)="toggle()">
        ☰
      </div>

    </div>

  </div>
</header>