<nav class="container d-flex justify-content-between align-items-center mt-4">
  <div>
    <h1 class="fw-bold">Theaters & Screens</h1>
    <p class="text-muted">Manage screens, seats and amenities</p>
  </div>

  <button
    class="btn btn-warning"
    data-bs-toggle="modal"
    data-bs-target="#addScreenModal"
  >
    <i class="bx bx-plus"></i>
    Add Screen
  </button>
</nav>

<div class="container-fluid mt-4 px-5">
  <div class="row g-4">
    @for (screen of screens; track screen.id) {
      <div class="col-lg-6 col-12">
        <div class="cinema-card p-3">
          <div class="d-flex justify-content-between">
            <div class="d-flex gap-3">
              <div class="screen-icon">
                <i class="bx bx-tv"></i>
              </div>

              <div>
                <div class="fw-bold fs-5">
                  {{ screen.name }}
                </div>

                <div class="text-muted">
                  <i class="bx bx-map"></i>
                  {{ screen.location }}
                </div>
              </div>
            </div>

            <div class="d-flex gap-2">
              <button class="btn btn-sm btn-primary" (click)="openEdit(screen)">
                Edit
              </button>

              <button
                class="btn btn-sm btn-danger"
                (click)="deleteScreen(screen.id)"
              >
                Delete
              </button>
            </div>
          </div>

          <p class="mt-3 text-muted">
            {{ screen.amenities }}
          </p>
          <hr />

          <div class="d-flex gap-3 flex-wrap">
            <span class="badge-total">
              <i class="bx bx-chair"></i>
              Total {{ screen.total_seats }}
            </span>

            <span class="badge bg-secondary">
              Normal {{ screen.normal_count }}
            </span>

            <span class="badge bg-info text-dark">
              Premium {{ screen.premium_count }}
            </span>

            <span class="badge bg-warning text-dark">
              VIP {{ screen.vip_count }}
            </span>
          </div>
        </div>
      </div>
    }
  </div>
</div>

<div class="modal fade" id="addScreenModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Add Screen</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="addForm" (ngSubmit)="addScreen()">
          <div class="mb-3">
            <label>Screen Name</label>
            <input class="form-control" formControlName="name" />
            @if (addForm.get("name")?.touched && addForm.get("name")?.invalid) {
              <div class="text-danger">Screen name is required</div>
            }
          </div>

          <div class="mb-3">
            <label>Location</label>
            <input class="form-control" formControlName="location" />
            @if (
              addForm.get("location")?.touched &&
              addForm.get("location")?.invalid
            ) {
              <div class="text-danger">Location required</div>
            }
          </div>

          <div class="mb-3">
            <label>Amenities</label>
            <input class="form-control" formControlName="amenities" />
          </div>

          <div class="row">
            <div class="col">
              <label>Rows</label>
              <input
                type="number"
                class="form-control"
                formControlName="rows"
                min="1"
                max="26"
              />

              @if (
                addForm.get("rows")?.invalid && addForm.get("rows")?.touched
              ) {
                <div class="text-danger">Rows must be between 1 - 26</div>
              }
            </div>

            <div class="col">
              <label>Seats per Row</label>
              <input
                type="number"
                class="form-control"
                formControlName="seatsPerRow"
                min="1"
                max="10"
              />

              @if (
                addForm.get("seatsPerRow")?.invalid &&
                addForm.get("seatsPerRow")?.touched
              ) {
                <div class="text-danger">Seats must be between 1 - 10</div>
              }
            </div>
          </div>

          <button
            class="btn btn-warning mt-4"
            type="submit"
            [disabled]="addForm.invalid"
          >
            Create Screen
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="editScreenModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Edit Screen</h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <form [formGroup]="editForm" (ngSubmit)="updateScreen()">
          <input type="hidden" formControlName="id" />

          <div class="mb-3">
            <label>Screen Name</label>
            <input class="form-control" formControlName="name" />
          </div>

          <div class="mb-3">
            <label>Location</label>
            <input class="form-control" formControlName="location" />
          </div>

          <div class="mb-3">
            <label>Amenities</label>
            <input class="form-control" formControlName="amenities" />
          </div>

          <button
            class="btn btn-warning"
            type="submit"
            [disabled]="editForm.invalid"
          >
            Update Screen
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
