<app-navbar></app-navbar>
<div class="container py-5">

    <h2 class="fw-bold mb-2">Our Theaters</h2>
    <p class="text-muted-custom mb-4">
        Explore all screens and their current showtimes
    </p>

    @for (screen of groupedScreensShowtimes; track $index) {

    <div class="theater-card mb-4">

        <div class="theater-header">
            <div class="d-flex align-items-start">
                <div class="icon-box">
                    <i class="bx bx-movie-play"></i>
                </div>
                <div>
                    <h5 class="mb-1">{{ screen.name}}</h5>
                    <small class="text-muted-custom">
                        {{ screen.location }} <br>
                        {{ screen.amenities }}
                    </small>
                </div>
            </div>
        </div>

        <div class="p-4">
            <div class="row g-3">
                <div class="col-md-6 col-lg-4">
                    @for (showtime of screen.showtimes; track showtime.showtimes_id) {
                    <div class="show-card m-2" (click)="gotoBooking(showtime.showtimes_id)">
                        <h6 class="mb-1">{{ showtime.movie_title }}</h6>
                        <small class="text-muted-custom d-block mb-2">
                            {{ showtime.start_time | date:'hh:mm a' }}
                            -
                            {{ showtime.start_time | date:'EEE, MMM d' }}
                        </small>
                        <div class="price">
                            {{ showtime.price }} THB
                        </div>
                    </div>
                    }
                </div>
            </div>
        </div>

    </div>

    }

</div>