.showtime-wrapper{
  padding:40px;
  font-family:system-ui;
  color:white;
}

.showtime-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-bottom:25px;
}

.showtime-header h2{
  font-size:26px;
}

.btn-add{
  background:#22c55e;
  border:none;
  padding:10px 18px;
  border-radius:8px;
  color:white;
  font-weight:600;
  cursor:pointer;
}

.btn-add:hover{
  background:#16a34a;
}

.table-card{
  background:#111827;
  border-radius:12px;
  overflow:hidden;
  border:1px solid #1f2937;
}

.showtime-table{
  width:100%;
  border-collapse:collapse;
}

.showtime-table thead{
  background:#1f2937;
}

.showtime-table th{
  padding:16px;
  text-align:left;
  font-weight:600;
  color:#cbd5e1;
}

.showtime-table td{
  padding:16px;
  border-bottom:1px solid #1f2937;
}

.showtime-table tbody tr{
  transition:0.2s;
}

.showtime-table tbody tr:hover{
  background:#1e293b;
}

.movie-title{
  font-weight:600;
}

.screen-badge{
  background:#374151;
  padding:4px 10px;
  border-radius:6px;
  font-size:13px;
}

.duration{
  background:#1d4ed8;
  padding:4px 10px;
  border-radius:6px;
  font-size:13px;
}

.price{
  color:#22c55e;
  font-weight:600;
}

.actions{
  display:flex;
  gap:8px;
}

.btn-edit{
  background:#3b82f6;
  border:none;
  color:white;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.btn-edit:hover{
  background:#2563eb;
}

.btn-delete{
  background:#ef4444;
  border:none;
  color:white;
  padding:6px 12px;
  border-radius:6px;
  cursor:pointer;
}

.btn-delete:hover{
  background:#dc2626;
}