.bgcard{
  background-color:#010a18;
}
.review-box{
    max-width: 450px;
    background:#0f172a;
    border-radius:12px;
}

.rating-stars span{
    font-size:26px;
    cursor:pointer;
    opacity:0.4;
    transition:0.2s;
}

.rating-stars span.active{
    opacity:1;
    color:gold;
}

.rating-stars span:hover{
    transform:scale(1.2);
}

.comment-box{
    background:#1e293b;
    border:2px solid #f59e0b;
    color:white;
}

.comment-box::placeholder{
    color:#94a3b8;
}
.disabled-review {
  opacity: 0.5;
  pointer-events: none;
  filter: blur(1px);
  position: relative;
}
.review-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  color: #ffc107;
  background: rgba(0,0,0,0.7);
  padding: 10px 20px;
  border-radius: 10px;
}
