.bgcard{
  background-color:#010a18;
}
.review-box{
    max-width: 450px;
    background:#0f172a;
    border-radius:12px;
}

.rating-stars span{
    font-size:26px;
    cursor:pointer;
    opacity:0.4;
    transition:0.2s;
}

.rating-stars span.active{
    opacity:1;
    color:gold;
}

.rating-stars span:hover{
    transform:scale(1.2);
}

.comment-box{
    background:#1e293b;
    border:2px solid #f59e0b;
    color:white;
}

.comment-box::placeholder{
    color:#94a3b8;
}