.main {
  flex: 1;
}
.card {
  background: linear-gradient(180deg, #0b0f17, #0d111a);
  border-radius: 20px;
  border: 1px solid rgba(81, 81, 81, 0.539);
  transition: 0.5s ease;
}
.icon-box {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  align-items: center;
  background: rgba(255, 166, 0, 0.226);
  margin-bottom: 10px;
}
.icon-box i {
  font-size: 30px;
  color: #ffa500;
}
.card-title {
  color: rgb(109, 109, 109);
}
.card:hover {
  border: 1px solid #ffa6008c;
}
.text-title {
  color: rgb(109, 109, 109);
}
.container {
  padding: 30px;
  color: #e5e7eb;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 25px;
  font-size: 14px;
}

.table-card {
  background: #0f172a;
  border: 1px solid #1f2937;
  border-radius: 16px;
  overflow: hidden;
  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.03),
    0 10px 30px rgba(0, 0, 0, 0.4);
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #111827;
}

thead th {
  text-align: left;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #9ca3af;
  border-bottom: 1px solid #1f2937;
}

tbody tr {
  border-bottom: 1px solid #1f2937;
  transition: background 0.2s ease;
}

tbody tr:hover {
  background: rgba(255, 255, 255, 0.03);
}

tbody td {
  padding: 18px 16px;
  font-size: 14px;
  color: #e5e7eb;
}

.price {
  color: #ffa500;
  font-weight: 600;
}

.badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}

.paid {
  background: rgba(16, 185, 129, 0.15);
  color: #10b981;
}
.container-fluid {
  padding: 50px;
  background-color: #0d111a;
  width: 100%;
}
