.custom-footer {
  background-color: #000000;
  color: #cbd5e1;
}

.footer-logo-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 15px;

}

.footer-logo-name1 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
}
    
.footer-logo-name2 {
  color: #ffc107;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 15px;
}

.footer-description {
  color: #94a3b8;
  line-height: 1.7;
}

.footer-title {
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 600;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #94a3b8;
  transition: 0.3s ease;
}

.footer-links a:hover {
  color: #facc15;
  padding-left: 5px;
}

.footer-contact li {
  margin-bottom: 8px;
  color: #94a3b8;
}

.footer-divider {
  border-color: #1e293b;
  margin: 40px 0 20px 0;
}

.footer-bottom {
  color: #64748b;
  font-size: 14px;
}

/* Responsive tweak */
@media (max-width: 768px) {
  .custom-footer {
    text-align: center;
  }
}