/* landing page  section */
.landing-page {
  min-height: 100vh;
  background: url('https://img.freepik.com/premium-photo/many-rows-red-seats-cinema_161149-2461.jpg') center/cover no-repeat;
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
      to bottom,
      rgba(0,0,0,0.7),
      rgba(0,0,0,0.9)
  );
}

.landing-page .container {
  z-index: 2;
}


/* coming soon card and ongoing  section*/
.slider-section{
  position: relative;
}
.movie-wrapper {
  position: relative;
  display: flex;
  max-width: 88%;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 0 60px; 
  scrollbar-width: none;
  -ms-overflow-style: none;
}
@media(max-width:992px){
  .movie-wrapper{
    padding: 0 20px;
    max-width: 95%;
  }
}

/* Chrome, Edge, Safari */
.movie-wrapper::-webkit-scrollbar {
  display: none;              
}

.movie-card {
  min-width: 80px;
  max-width: 220px;
  flex: 0 0 auto;
  height: 320px;
  border-radius: 15px;
  overflow: hidden;
  background: rgb(17, 17, 17);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
@media(max-width:768px){
  .movie-card{
    min-width: 160px;
  }
}

.poster{
  width:100%;
  height: 75%;
  object-fit: cover;
}

.scroll-btn{
  width: 40px;
  height: 45px;
  border-radius: 50%;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  z-index: 999;
  top: 50%;
  transform: none;
  background: rgba(0,0,0,0.6);
  border: none;
  color: whitesmoke;
  font-size: 35px;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, transform 0.2s ease;
}
.scroll-btn:hover {
  background: rgba(0,0,0,0.9);
  transform: translateY(-1%) scale(1.05);
}


.scroll-btn.left{
  left: 0px;
}
.scroll-btn.right{
  right: 0px;
}

/* card theaher */
.card {
  border-radius: 15px;
  overflow: hidden;
  transition: transform .3s ease, box-shadow .3s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 20px 30px rgba(0,0,0,.5);
}

.card-img-top {
  height: 100px;
  object-fit: cover;
}