<app-navbar></app-navbar>
<div class="bg-darker">
    <!-- landing page -->
    <section class="landing-page align-items-center d-flex ">
        <div class="overlay"></div>

        <div class="container text-center text-light position-relative">

            <span class="badge bg-warning px-3 py-2 mb-4">
                welcome
            </span>

            <h1 class="fw-bold display-1">
                CineVault
            </h1>
            <h2 class="fw-light display-6">
                Your Movie Experience Starts Here
            </h2>

            <p class="mt-4 mb-5">
                Discover the latest movies, choose the best seats,
                and book your tickets instantly.
            </p>

            <div class="d-flex justify-content-center gap-3">
                <a href="#" class="btn btn-warning btn-lg px-4">
                    Browse Movies
                </a>
                <a routerLink="/theaters" class="btn btn-outline-light btn-lg px-4">
                    View Theaters
                </a>
            </div>

        </div>
    </section>


    <!-- card ongoing movie  -->
    <div class="py-4 position-relative  slider-section">

        <div class="container-fluid px-2 px-md-4 px-xl-5 position-relative">
            <div class="row">
                <div class="col-11">
                    <div class="ongoing-box">
                        <h1>Now Showing</h1>
                        <h6 style="color: rgb(126, 126, 126);">The latest movies playing at CineVault</h6>
                    </div>
                </div>
                <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center;">
                    <span class="display-10" style="font-size: 15px; color: #ffa500;">View All</span>
                </div>
            </div>
            <br>
            <!-- buttonScroll Container -->
            <button class="btn scroll-btn left mx-1 d-none d-lg-flex" (click)="scrollLeft(scrollContainer1)">‹</button>


            <div #scrollContainer1 class="movie-wrapper">

                @for (item of MovieShowtimes; track $index) {
                <div class="movie-card card">
                    <img [src]="item.image_url" class="poster">

                    <div class="card-body">
                        <h6>{{ item.title }}</h6>
                        <div class="text-descript">
                            <i class="bx bx-clock-dashed-half"><span
                                    style="margin-left: 5px; margin-right: 5px;">{{item.duration_minutes}}</span>min</i>
                        </div>
                    </div>
                </div>
                }

            </div>

            <button class="scroll-btn right mx-1 d-none d-lg-flex" (click)="scrollRight(scrollContainer1)">›</button>

        </div>



    </div>
    <!-- card coming soon  -->
    <section class="py-4 position-relative slider-section">

        <div class="container-fluid px-2 px-md-4 px-xl-5 position-relative">

            <div class="row">
                <div class="col-11">
                    <div class="ongoing-box">
                        <h1>Oncomming</h1>
                        <h6 style="color: rgb(126, 126, 126);">The latest movies playing at CineVault</h6>
                    </div>
                </div>
                <div class="col-1" style="display: flex; justify-content: flex-end; align-items: center;">
                    <span class="display-10" style="font-size: 15px; color: #ffa500;">View All</span>
                </div>
            </div>
            <br>
            <!-- Scroll Container -->
            <button class="btn scroll-btn left d-none d-lg-flex" (click)="scrollLeft(scrollContainer2)">‹</button>
            <div #scrollContainer2 class="movie-wrapper">
                @for (item of MovieOngoings; track $index) {
                <div class="movie-card card">
                    <img [src]="item.image_url" class="poster">

                    <div class="card-body">
                        <h6>{{ item.title }}</h6>
                        <div class="text-descript">
                            <i class="bx bx-clock-dashed-half"><span
                                    style="margin-left: 5px; margin-right: 5px;">{{item.duration_minutes}}</span>min</i>
                        </div>
                    </div>
                </div>
                }

            </div>
            <button class="btn scroll-btn right d-none d-lg-flex" (click)="scrollRight(scrollContainer2)">›</button>

        </div>

    </section>




    <!-- card theater -->
    <section class="py-5">
        <div class="container-fluid text-center theater">

            <h1>Ours Theater</h1>
            <br>
            <div class="row g-2 d-flex justify-content-center">
                @for (item of theater; track $index) {
                <div class="col-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="theater-card card  shadow-sm">
                        <div class="theater-img">
                            <img [src]="theaterImages[item.amenities] || getAmenityImage(item.amenities)" />
                        </div>
                        <div class="card-body text-center">
                            <h5 class="card-title text-light">
                                {{ item.amenities }}
                            </h5>
                        </div>

                    </div>
                </div>
                }

            </div>
        </div>
    </section>
</div>
<app-footer></app-footer>