<app-navbar></app-navbar>
<br>
<br>
<br>
<div class="page">
    <div class="header">
        <h2>{{ showtime?.movie_title }}</h2>
        <p>
            {{ showtime?.screen_name }} •
            {{ showtime?.start_time | date:'shortTime' }}
        </p>
    </div>
    <div class="steps">
        <div class="step active">
            <span class="circle">1</span>
            <span class="text">Select Seats</span>
        </div>
        <div class="line"></div>
        <div class="step">
            <span class="circle">2</span>
            <span class="text">Payment</span>
        </div>
    </div>
    <div class="layout">
        <div class="seat-container">
            <div class="screen"></div>
            <p class="screen-label">SCREEN</p>
            <div class="seat-grid-wrapper">
                @for (group of groupedSeats; track group.row) {
                <div class="seat-row">
                    <div class="row-label">
                        {{ group.row }}
                    </div>
                    @for (seat of group.seats; track seat.id) {
                    <div class="seat" (click)="toggleSeat(seat)" [class.booked]="isBooked(seat.id)"
                        [class.selected]="isSelected(seat.id)">
                        {{ seat.seat_number }}
                    </div>
                    }
                    <div class="row-label">
                        {{ group.row }}
                    </div>
                </div>
                }
            </div>
            <div class="legend">
                <div><span class="box normal"></span> Normal</div>
                <div><span class="box selected"></span> Selected</div>
                <div><span class="box booked"></span> Booked</div>
            </div>
        </div>
        <div class="summary-card">
            <h4>{{ showtime?.movie_title }}</h4>
            <div class="info">
                <div>Screen</div>
                <div>{{ showtime?.screen_name }}</div>
            </div>
            <div class="info d-flex align-items-center justify-content-center image-box">
                <img style="border-radius: 5px;" [src]="showtime?.image_url">
            </div>
            <div class="info">
                <div>Time</div>
                <div>{{ showtime?.start_time | date:'shortTime' }}</div>
            </div>
            <div class="info">
                <div>Price per seat</div>
                <div>{{ showtime?.price }} THB</div>
            </div>
            <hr>
            <div class="total">
                Total
                <span>{{ getTotal() }} THB</span>
            </div>
            <button class="continue-btn" [disabled]="selectedSeats.length === 0" (click)="goToPayment()">
                Continue to Payment
            </button>
        </div>
    </div>
</div>
<app-footer></app-footer>
<!-- A
    @for(item of seats; track $index){
    @if(item.row_label === 'A'){
    <button (click)="toggleSeat(item)" style="margin: 20px;padding: 20px;" [class.booked]="isBooked(item.id)"
        [class.selected]="isSelected(item.id)">
        {{item.seat_number}}
    </button>
    }
    }
    A
    <br>
    B
    @for(item of seats; track $index){
    @if(item.row_label === 'B'){
    {{item.seat_number}}
    }
    }
    <br>
    C
    @for(item of seats; track $index){
    @if(item.row_label === 'C'){
    {{item.seat_number}}
    }
    }
    <br>
    D
    @for(item of seats; track $index){
    @if(item.row_label === 'D'){
    {{item.seat_number}}
    }
    }
    <br>
    E
    @for(item of seats; track $index){
    @if(item.row_label === 'E'){
    {{item.seat_number}}
    }
    }
    <br>
    F
    @for(item of seats; track $index){
    @if(item.row_label === 'F'){
    {{item.seat_number}}
    }
    } -->