.container {
  padding: 30px;
  color: #e5e7eb;
}

h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}

.subtitle {
  color: #9ca3af;
  margin-bottom: 25px;
  font-size: 14px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background: #111827;
}

.bgcard {
  text-align: left;
  padding: 16px;
  font-weight: 500;
  font-size: 14px;
  color: #9ca3af;
  background-color: #111827;
  border: 1px solid #1f2937;
  border-radius: 10px;
  margin-bottom: 10px;
}

.price {
  color: #ffa500;
  font-weight: 600;
}

.badge {
  padding: 6px 12px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
}
