.container{
  max-width:1100px;
  margin:auto;
  padding:40px 20px;
  color:white;
}

.title{
  font-size:40px;
  font-weight:700;
}

.subtitle{
  color:#aaa;
  margin-bottom:30px;
}

.booking-card{
  display:flex;
  background:#111;
  border:1px solid #2a2a2a;
  border-radius:14px;
  margin-bottom:25px;
  overflow:hidden;
  transition:0.2s;
}

.booking-card:hover{
  transform:translateY(-3px);
  border-color:#f5a623;
}

.poster{
  width:160px;
  object-fit:cover;
}

.booking-info{
  flex:1;
  padding:20px;
}

.top-row{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.duration{
  color:#aaa;
  margin-top:4px;
}

.details{
  display:grid;
  grid-template-columns:repeat(2,1fr);
  gap:6px;
  margin-top:15px;
  color:#ddd;
}

.bottom{
  margin-top:20px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.price{
  color:#f5a623;
  font-size:20px;
  font-weight:600;
}

.status{
  padding:4px 12px;
  border-radius:20px;
  font-size:12px;
  font-weight:600;
}

.paid{
  background:#0f5132;
  color:#2ecc71;
}

.cancelled{
  background:#4a0e0e;
  color:#ff4d4d;
}