.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 260px;
  transition: 0.3s ease;
}

.layout.collapsed .sidebar {
  width: 80px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
}
.content {
  width: 100%;
}
